html, body {
  margin: 0;
  background-color: #fff0dd;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
.spacer {
  height: 1px;
}
.padder {
  height: 20px;
  margin-top: 150px;
}
.padder,
.scroll-down,
.title {
  background-color: #e2dcc6;
}
.scroll-down {
  text-align: center;
  padding: 20px;
  font-style: italic;
}
h1 {
  font-family: sans-serif;
  margin: 0;
  font-size: 20px;
  text-align: center;
}
.title {
  padding: 5px;
  top: 0px;
  text-align: center;
  margin: auto;
}
.main {
  margin: auto;
  width: 800px;
}
.person {
  background-size: 400px;
}
.infobox.thousand {
  height: 1000px !important;
  max-width: 100%;
  width: 100%;
  background-color: #ff00008c;
}
.prisoners {
  background-image: url('img/bg/black.svg');
  height: 2875000px;
}
.prisoners .title {
  position: sticky;
  z-index: 20;
}
.infobox.first {
  margin-top: 20000px;
}
.infobox,
.thousand .infobox-inner {
  margin: auto;
  max-width: 75%;
}
.infobox {
  font-family: sans-serif;
  margin-top: 1000px;
  height: 2000px;
}
.infobox-inner {
  font-size: 18px;
  top: 200px;
  padding: 10px;
  background-color: #57c8ff;
  box-shadow: -5px 5px 5px #505050;
  display: inline-block;
  position: sticky;
  z-index: 10;
}
.expandable .infobox-inner {
  height: 380px;
}
.expandable .infobox-inner .bar {
  padding: 4px;
}
.expandable.expanded {
  margin-bottom: 5110px;
}
.expandable.expanded .expando {
  display: none;
}
.expandable.expanded .infobox-inner {
  position: relative;
  height: 5110px;
}
.expando {
  position: absolute;
  right: 8px;
  bottom: 7px;
  font-size: 10px;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  display: block;
}
.expando:active:focus {
  box-shadow: 0;
}
.image {
  margin-top: 25px;
}
.image .infobox-inner {
  background-color: white;
  top: 100px;
  box-shadow: -2px 2px 5px grey;
  border: 1px solid #b9b9b9;
}
.image .infobox-inner img {
  width: 100%;
  height: auto;
}
.list-of-states {
  columns: 3;
  font-size: 12px;
}
.state-incarcerated {
  color: red;
  font-weight: bold;
}
.infobox-inner > h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
}
.infobox.chart .infobox-inner {
  top: 100px;
  width: 100%;
}
.chart.horizontal .infobox-inner {
  overflow: hidden;
}
.chart.expandable .bar {
  padding-left: 0;
  padding-right: 0;
}
#casualties .infobox-inner {
  top: 200px;
}
#casualties .bar {
  min-height: 70px;
}
.bar {
  background-color: yellowgreen;
  margin: 10px 0;
  padding: 10px;
  color: white;
  box-shadow: -2px 2px 5px black;
  box-sizing: border-box;
  font-size: 12px;
}
.bar-inner {
  color: black;
  margin-left: calc(100% + 10px);
  white-space: nowrap;
  display: inline-block;
}
.inset-text .bar-inner {
  margin-left: 10px;
}
.bar.highlighted {
  background-color: #a20000;
}
.bar.highlighted .bar-inner {
  color: white;
}
.chart.horizontal .bar.right {
  text-align: right;
  padding-right: 10px;
}
.bar.black {
  background-color: black;
}
.over-bar-label {
  margin-top: 35px;
}
.over-bar-label.first {
  margin-top: 0;
}
.over-bar-label + .bar {
  margin: 0;
  background-color: #e22e2e;
  box-shadow: -2px 2px 4px black;
  height: 40px;
}
.vertical-bars {
  display: flex;
}
.vertical-bars .bar {
  width: 25%;
  color: black;
  margin: 0 10px;
  font-size: 12px;
  padding: 5px;
  background-color: yellowgreen;
  box-shadow: -2px 4px 4px black;
}
.vertical-bars .bar .bar-label {
  position: sticky;
  top: 60px;
  height: 60px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}
.vertical-bars .bar .bar-label.no-pad {
  padding-top: 0;
}
.correctional-population .infobox-inner {
  height: 430px;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.side-icon {
  float: left;
  width: 20px;
  padding-right: 10px;
}
.blue,
.red {
  margin-bottom: 5000px;
}
.floyd {
  height: 10000px;
  display: flex;
  align-items: flex-start;
}
.floyd .infobox-inner {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.floyd .infobox-inner.icon {
  background-image: url(img/person/red.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 12px 25px;
  height: 40px;
}
.floyd .infobox-inner.text {
  height: 5000px;
  display: flex;
  align-items: flex-start;
}
.highlight {
  background-color: #57c8ff;
  display: block;
  padding: 15px;
  box-shadow: -5px 5px 5px #505050;
}
#unconvicted {
  font-size: 13px;
}
#unconvicted .bar {
  background-color: yellowgreen;
  color: black;
  box-shadow: -2px 2px 5px;
}
#unconvicted .bar.highlighted {
  background-color: #a20000;;
}
.without-conviction-label {
  width: 125px;
  background-color: #ece62a;
  height: auto;
  padding: 5px;
  display: block;
  font-size: 14px;
  text-align: left;
  border: 2px dashed black;
  position: absolute;
  top: auto;
  left: 40%;
}
.without-conviction-label:before {
  display: block;
  content: '';
  border-top: 2px dashed black;
  width: 78%;
  height: 1px;
  position: absolute;
  left: -80%;
}
.arrow {
  padding-top: 7px;
  position: relative;
  right: 3px;
  color: red;
  font-size: 30px;
}
.counter {
  font-family: sans-serif;
  position: absolute;
  right: 20px;
  top: 20px;
}
.stalin .vertical-bars .bar {
  background-color: #313131;
  color: white;
  text-align: center;
  width: 25%;
}
.stalin .vertical-bars .stalin-bar {
  background-color: #CD0000;
  background-image: url(img/stalin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (max-width: 799px) {
  .counter,
  .main {
    width: 360px;
  }
  .counter {
    top: 42px;
    left: 0;
    font-size: 12px;
    background-color: #e2dcc6;
    line-height: 20px;
    font-weight: bold;
  }
  .thousand {
    height: 4440px !important;
  }
  .prisoners {
    background-size: 360px;
    height: 5175000px;
  }
  .title {
    position: sticky;
  }
  h1 {
    font-size: 14px;
    font-weight: normal;
  }
  .scroll-down {
    font-size: 14px;
  }
  .infobox.thousand {
    width: 100%;
    max-width: 100%;
  }
  .infobox,
  .thousand .infobox-inner {
    max-width: 95%;
  }
  .infobox-inner {
    border-width: 3px;
  }
  .infobox.chart .infobox-inner {
    width: 93%;
  }
  .vertical-bars .bar {
    width: 14%;
    font-size: 10px;
  }
  .vertical-bars .bar .bar-label.tool-tip {
    width: 125px;
    background-color: #ece62a;
    height: auto;
    padding: 5px;
    display: block;
    font-size: 14px;
    text-align: left;
    border: 2px dashed black;
    top: 70px;
    color: black;
  }
  .vertical-bars .bar .bar-label.tool-tip.right {
    margin-left: 48px;
  }
  .vertical-bars .bar .bar-label.tool-tip.left {
    margin-left: -160px;
  }
  .vertical-bars .bar .bar-label.tool-tip.under {
    width: 70px;
    text-align: center;
    margin-top: 90px;
    margin-left: -20px;
  }

  .vertical-bars .bar .bar-label.tool-tip.left:after,
  .vertical-bars .bar .bar-label.tool-tip.right:before {
    height: 0;
    width: 30px;
    display: block;
    content: '';
    position: absolute;
    border-top: 2px dashed black;
    top: 50%;
  }
  .vertical-bars .bar .bar-label.tool-tip.under:before {
    height: 50px;
    width: 0;
    display: block;
    content: '';
    position: absolute;
    border-left: 2px dashed black;
    top: -50px;
    left: 50%;
  }
  .vertical-bars .bar .bar-label.tool-tip.right:before {
    left: -34px;
  }
  .vertical-bars .bar .bar-label.tool-tip.left:after {
    right: -34px;
  }
  .vertical-bars .bar .bar-label.tool-tip.bar-label-100 {
    margin-top: 100px;
  }
  .vertical-bars .bar .bar-label.tool-tip.bar-label-200 {
    margin-top: 200px;
  }
  .vertical-bars .bar .bar-label.tool-tip.bar-label-270 {
    margin-top: 270px;
  }
  .vertical-bars .bar .bar-label.tool-tip.bar-label-320 {
    margin-top: 320px;
  }
  .vertical-bars .bar .bar-label.tool-tip.bar-label-460 {
    margin-top: 460px;
  }
  .vertical-bars .bar .bar-label.tool-tip.bar-label-1000 {
    margin-top: 1000px;
  }
  .vertical-bars .bar .bar-label.tool-tip.bar-label-2600 {
    margin-top: 2600px;
  }
  .vertical-bars .bar .bar-label.tool-tip.bar-label-11800 {
    margin-top: 11800px;
  }
  .vertical-bars .bar.last .bar-label.tool-tip {
    width: 190px;
    margin-left: -225px;
  }
  .without-conviction-label:before {
    width: 48%;
    left: -50%;
  }
  .stalin .vertical-bars .bar {
    width: 19%;
  }
  #unconvicted .bar {
    padding: 5px;
    font-size: 11px;
  }
  #casualties .bar.highlighted {
    padding-right: 50%;
  }
}
@media (max-width: 374px) {

}
