html, body {
  margin: 0;
  background-color: #fff0dd;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
.spacer {
  height: 1px;
}
.padder {
  height: 20px;
  margin-top: 150px;
}
.padder,
.scroll-down,
.title {
  background-color: #e2dcc6;
}
.scroll-down {
  text-align: center;
  padding: 20px;
  font-style: italic;
}
h1 {
  font-family: sans-serif;
  margin: 0;
  font-size: 20px;
  text-align: center;
}
.title {
  padding: 5px;
  top: 0px;
  text-align: center;
  margin: auto;
}
.main {
  margin: auto;
  width: 800px;
}
.person {
  background-size: 400px;
}
.infobox.thousand {
  height: 1000px !important;
  max-width: 100%;
  width: 100%;
  background-color: #ff00008c;
}
.prisoners {
  background-image: url('img/ex.svg');
  height: 2875000px;
}
.prisoners .title {
  position: sticky;
  z-index: 20;
}
.infobox.first {
  margin-top: 50000px;
}
.infobox,
.thousand .infobox-inner {
  margin: auto;
  max-width: 75%;
}
.infobox {
  font-family: sans-serif;
  margin-top: 10000px;
  height: 15000px;
}
.infobox.correctional-population {
  height: 5000px;
}
.correctional-population + .infobox {
  margin-top: 18000px;
}
.android .infobox {
  height: 60000px;
}
.infobox.close {
  margin-top: 1000px;
}
.infobox-inner {
  font-size: 18px;
  top: 200px;
  padding: 10px;
  background-color: #57c8ff;
  box-shadow: -5px 5px 5px #505050;
  display: inline-block;
  position: sticky;
}
.image {
  margin-top: 25px;
}
.image .infobox-inner {
  background-color: white;
  top: 100px;
  box-shadow: -2px 2px 5px grey;
  border: 1px solid #b9b9b9;
}
.image .infobox-inner img {
  width: 100%;
  height: auto;
}
.list-of-states {
  columns: 3;
  font-size: 12px;
}
.state-incarcerated {
  color: red;
  font-weight: bold;
}
.infobox-inner > h2 {
  margin-top: 0;
}
.infobox.chart .infobox-inner {
  top: 100px;
  width: 100%;
}
.bar {
  background-color: grey;
  margin: 10px 0;
  padding: 10px;
  color: white;
}
.bar.highlighted {
  background-color: #a20000;
}
.vertical-bars {
  display: flex;
}
.vertical-bars .bar {
  width: 25%;
  color: black;
  margin: 0 10px;
  font-size: 12px;
  padding: 5px;
  background-color: yellowgreen;
  box-shadow: -2px 4px 4px black;
}
.vertical-bars .bar .bar-label {
  position: sticky;
  top: 60px;
  height: 60px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 30px;
}
.vertical-bars .bar .bar-number {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  position: sticky;
  top: 120px;
}
.vertical-bars .bar .sub-infobox {
  margin-left: -130px;
  background-color: white;
  display: inline-block;
  padding: 5px;
  border: 3px solid #9bce31;
  font-size: 13px;
  position: relative;
  z-index: 30;
  left: -140px;
  box-shadow: -2px 2px 4px grey;
}
.vertical-bars .bar .sub-infobox .connector {
  width: 50px;
  height: 0;
  border-top: 8px solid #9bce31;
  position: absolute;
  left: 214px;
  top: 40%;
  margin-bottom: -8px;
}
.correctional-population .infobox-inner {
  height: 430px;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.floyd {
  height: 40000px;
  display: flex;
  align-items: flex-start;
}
.floyd .infobox-inner {
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.floyd .infobox-inner.icon {
  background-image: url(img/incarcerated.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 12px 25px;
  height: 40px;
}
.floyd .infobox-inner.text {
  height: 20000px;
  display: flex;
  align-items: flex-start;
}
.highlight {
  background-color: #57c8ff;
  display: block;
  padding: 15px;
  box-shadow: -5px 5px 5px #505050;
}
.arrow {
  padding-top: 7px;
  position: relative;
  right: 3px;
  color: #57c7ff;
  font-size: 30px;
}
.counter {
  font-family: sans-serif;
  position: absolute;
  right: 20px;
  top: 20px;
}
@media (max-width: 799px) {
  .counter,
  .main {
    width: 360px;
  }
  .counter {
    top: 42px;
    left: 0;
    font-size: 12px;
    background-color: #e2dcc6;
    line-height: 20px;
    font-weight: bold;
  }
  .thousand {
    height: 4440px !important;
  }
  .prisoners {
    background-size: 360px;
    height: 5175000px;
  }
  .title {
    position: sticky;
  }
  h1 {
    font-size: 14px;
    font-weight: normal;
  }
  .scroll-down {
    font-size: 14px;
  }
  .infobox.thousand {
    width: 100%;
    max-width: 100%;
  }
  .infobox,
  .thousand .infobox-inner {
    max-width: 95%;
  }
  .infobox-inner {
    border-width: 3px;
  }
  .infobox.chart .infobox-inner {
    width: 93%;
  }
  .vertical-bars .bar {
    width: 16%;
    font-size: 10px;
  }
  .vertical-bars .bar.family {
    display: none;
  }

}
@media (max-width: 374px) {

}
